<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/index.css">
    <title>Accueil</title>
</head>
<body>
    <a href="/project/"><img class="logo" src="https://www.freepnglogos.com/uploads/whale-png/download-whale-fish-png-transparent-images-transparent-21.png" alt="logo"></a>
    <h1>Boutique spéciale</h1>
    <div class="main">
        <a class="button_action" href="/project/view">Voir la liste des articles</a>
        <a class="button_action" href="/project/create">Créer un nouvel article</a>
    </div>
</body>
</html>